<mat-accordion>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title>
              <b>Visi Dan Misi</b>
          </mat-panel-title>
      </mat-expansion-panel-header>
        <b>V I S I</b><br>
          <p>STMIK AKAKOM mempunyai visi untuk menjadi perguruan tinggi unggulan dalam bidang teknologi informasi yang bertumpu pada nilai-nilai dan etika kehidupan yang baik, benar dan universal untuk mewujudkan peningkatan taraf hidup bangsa.</p><br>
        <b>M I S I</b><br>
          <p>Adapun misi STMIK AKAKOM adalah melaksanakan Tridharma Perguruan Tinggi dalam bidang komputer dan teknologi informasi yang berorientasi kepada perkembangan ilmu pengetahuan, teknologi dan seni.</p><br>
        <b>TUJUAN</b><br>
        <p>Tujuan yang ingin dicapai STMIK AKAKOM adalah :</p>
          <ol>
              <li>Terselenggaranya sistem pendidikan yang tanggap terhadap perkembangan ilmu dan teknologi informasi dengan memadukan keunggulan akademik dan mutu profesi.</li>
              <li>Terselenggaranya penelitian untuk menghasilkan temuan baru, rekayasa, dan kajian yang berguna bagi pemberdayaan teknologi informasi dan hidup bermasyarakat.</li>
              <li>Pemasyarakatan teknologi informasi sebagai prasarana kehidupan modern bangsa Indonesia.</li>
              <li>Terbentuknya sumberdaya manusia yang memiliki kompetensi akademis dan atau profesional, yang beriman, bertakwa, mandiri, kreatif, dan berkemampuan meningkatkan kualitasnya secara berkelanjutan.</li>
              <li>Terwujudnya masyarakat modern yang berperan aktif dalam pembangunan nasional serta dalam membentuk masyarakat yang maju, adil dan sejahtera.</li>
          </ol>
          <br>
        <b>SASARAN</b><br>
          <p>Untuk mencapai 5 tujuan tersebut, perlu ditetapkan sasaran-sasaran yang dapat diukur ketercapaiannya. Sasaran yang dikelompokkan dalam 6 kategori:</p>
          <ol>
              <li>Sasaran untuk mencapai kualitas Tridharma yang unggul.</li>
              <li>Sasaran untuk mencapai tujuan terselenggaranya sistem pendidikan yang tanggap  terhadap perkembangan ilmu dan teknologi informasi dengan memadukan keunggulan akademik dan mutu profesi.</li>
              <li>Sasaran untuk mencapai tujuan terselenggaranya penelitian untuk menghasilkan temuan baru, rekayasa, dan kajian yang berguna bagi pemberdayaan teknologi informasi dan hidup bermasyarakat.</li>
              <li>Sasaran untuk mencapai tujuan pemasyarakatan teknologi informasi sebagai prasarana kehidupan modern bangsa Indonesia.</li>
              <li>Sasaran untuk mencapai tujuan terbentuknya sumberdaya manusia yang memiliki kompetensi akademis dan atau profesional, yang beriman, bertakwa, mandiri, kreatif, dan berkemampuan meningkatkan kualitasnya secara berkelanjutan.</li>
              <li>Sasaran untuk mencapai tujuan terwujudnya masyarakat modern yang berperan aktif dalam pembangunan nasional serta dalam membentuk masyarakat yang maju, adil dan sejahtera.</li>
          </ol>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
               (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
          <mat-panel-title>
              <b>Profil Akakom</b>
          </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Dalam abad ke-20 ini dunia banyak diwarnai dengan berbagai kemajuan secara menakjubkan yang telah dicapai oleh umat manusia,
        baik di bidang ilmu maupun teknologi. Menanggapi kondisi zaman seperti tersebut di atas, maka pada tanggal 30 Juni 1979 didirikan
        sebuah yayasan dengan nama Yayasan Pendidikan Widya Bakti, yang bertujuan mengembangkan dan menyebarluaskan informatika dan teknologi
        komputer di kalangan masyarakat Indonesia melalui usaha pendidikan yang sistematis dan ilmiah. Maka, sejak 30 Juni 1979 di kota Yogyakarta,
         didirikan sebuah akademi yang bernama Akademi Aplikasi Komputer, disingkat AKAKOM.<br><br>

         Terhitung mulai 1 Maret 1983, Akademi Aplikasi Komputer (AKAKOM), diubah menjadi Akademi Komputer dan Informatika AKAKOM. Selanjutnya,
         terhitung mulai tanggal 2 Mei 1985, nama Akademi Komputer dan Informatika AKAKOM diubah dan dibakukan menjadi Akademi Manajemen
         Informatika dan Komputer AKAKOM.<br><br>

        Agar lembaga tersebut mampu menghasilkan tenaga-tenaga profesional maupun akademik yang lebih berbobot dalam bidang informatika dan
        komputer, maka sejak tanggal 8 Juni 1992, berdasarkan Surat Keputusan Direktorat Jenderal Pendidikan Tinggi Departemen Pendidikan dan
        Kebudayaan RI Nomor 262/DIKTI/Kep/1992, AMIK AKAKOM diubah bentuknya menjadi Sekolah Tinggi Manajemen Informatika dan Komputer (STMIK)
        AKAKOM dengan status terdaftar bagi program sarjana dan status diakui bagi program diploma.</p>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
               (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
          <mat-panel-title>
              <b>Pejabat di Stmik Akakom</b>
          </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      </div>

  </mat-expansion-panel>
</mat-accordion>
