    <div class="row">
        <div class="col-4">
            <div class="panel">
                <mat-card class="galeriinfo">
                  <img mat-card-image src="https://www.akakom.ac.id/attached/praktikkerja-01.png">
                  <mat-card-content>
                    <p>
                        Hasil verifikasi mahasiswa yang mengambil matakuliah Praktik Kerja Lapangan Semester Genap T.A. 2016/2017 dapat di cek di papan pengumuman PKL (Papan Pengumuman Prodi).
                    </p>
                    <button mat-raised-button color="accent"><a href="https://www.akakom.ac.id/site/artikel/295/pengumuman-pkl-prodi-teknik-informatika-sistem-informasi-semester-genap-t-a-2016-2017" target="_blank" rel="zoom-id:zoom;opacity-reverse:true;">More</a></button>
                  </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="col-4">
          <div class="panel">
              <mat-card class="galeriinfo">
                <img mat-card-image src="https://www.akakom.ac.id/attached/pesonakakom.jpg" >
                <mat-card-content>
                  <p>
                      Dalam rangka menyambut mahasiswa baru 2017, setiap tahun ajaran baru STMIK AKAKOM melakukan kegiatan pengenalan kampus atau
                      yang biasa disebut PESONA AKAKOM 2017. Rangkaian kegiatan pesona akakom 2017 ini dilakukan selama 3 hari dan satu hari pra pesona.
                  </p>
                  <button mat-raised-button color="accent"><a href="https://www.akakom.ac.id/site/artikel/360/kegiatan-pesona-akakom-2017" target="_blank" rel="zoom-id:zoom;opacity-reverse:true;">More</a></button>
                </mat-card-content>
              </mat-card>
          </div>
        </div>
        <div class="col-4">
            <div class="panel">
              <mat-card class="galeriinfo">
                <img mat-card-image src="https://www.akakom.ac.id/attached/bapomidiy3.jpg">
                <mat-card-content>
                  <p>
                      STMIK AKAKOM Yogyakarta menjadi salah satu tuan rumah untuk kegiatan pekan olahraga (POR) BAPOMI DIY yang diselenggarakan oleh Bapomi dibawah naungan KONI DIY.
                  </p>
                  <button mat-raised-button color="accent"><a href="https://www.akakom.ac.id/site/artikel/332/stmik-akakom-yogyakarta-menjadi-tuan-rumah-por-bapomi-diy" target="_blank" rel="zoom-id:zoom;opacity-reverse:true;">More</a></button>
                </mat-card-content>
              </mat-card>
            </div>
        </div>
  </div>
