@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

/*.container{
    border: 1px solid #AAA;
    padding: 30px;
}
.spacer1{
    flex: 1 1 auto;
}
p{
  text-align: justify;
  text-indent: 50px;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-image: image(src:"logo3.jpg");
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}
.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}
.spacer1{
   flex: 1 1 auto;
}

.mat-expansion-panel-header{
  background-color: #0000FF;
}
.subprofile{
    background-color: #ffffff;
}
.berandacontainer{
    background-color: #0066CC;
    height: 300px;
    text-align: center;
}
.text{
   font-family:sans-serif;
   color: white;
   padding-top: 70px;
}
.mat-tab.label{
  font-family: sans-serif;
  color: white;
}
.md-card-wrapper {
  position: relative;
    width: 40%;
  span {
      position: absolute;
      top: 20%;
      right: 20%;
      color: white;
      font-size: 34px;
    }
}
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}*/

.mat-table {
  overflow: auto;
  max-height: 500px;
}
